
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Layout = null;
}
@{
    Cliente _cliente;
    try
    {
        _cliente = JsonConvert.DeserializeObject<Cliente>(Context.Session.GetString("cliente"));
    }
    catch (Exception)
    {
        // ...no hay variable de sesion de cliente logueado...
        _cliente = null;
    }

}


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h4 style="font-size:20px;">Buscar producto</h4>
            <div class="input-group mb-4">
                <input type="text" id="cajaBuscarFiltro" class="form-control" placeholder="Busca por.." aria-label="Recipient's username" aria-describedby="button-addon2" style="display:none;">
                <div class="input-group-append">
                    <a class="btn btn-group-sm" id="botonBuscarFiltro">
                        <i class="fas fa-search" style="color: #757575; background-color:aliceblue; padding: 10px 5px 10px 5px; border-radius:15px;"> Filtrar</i>
                    </a>
                </div>
            </div>
            <label>Genero</label><br />
            <form class="form-inline">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Sol Hombre"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Sol Hombre">Hombre Sol</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Montura Hombre"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Montura Hombre">Hombre Mont</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Sol Mujer"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Sol Mujer">Mujer Sol</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Montura Mujer"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Montura Mujer">Mujer Mont</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Sol Niño"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Sol Niño">Niños Sol</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Montura Niño"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Montura Niño">Niños Mont</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio"
                           id="radGenero/Articulo"
                           name="radOpcionesFiltro"
                           class="custom-control-input">
                    <label class="custom-control-label" for="radGenero/Articulo">Artículos</label>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />



<script>
    var cajaBuscarFiltro = document.getElementById("cajaBuscarFiltro");
    var botonBuscarFiltro = document.getElementById("botonBuscarFiltro");

    botonBuscarFiltro.addEventListener(
        "click",
        (ev) => {
            var opcion = Array.from(document.getElementsByName("radOpcionesFiltro")).find((el) => el.checked).id.replace("rad", "");
            window.location.href = "https://localhost:44367/Tienda/Buscar/" + opcion + "/" + encodeURIComponent(cajaBuscarFiltro.value);
        }
    );

</script>