@model Opticasion.Models.Cliente
@{
    ViewData["Title"] = "Compra realizada";
}



<div class="container">
    <div class="row">
        <div class="col">
            <h1>PEDIDO PAGADO CON EXITO</h1>
        </div>
    </div>
</div>