@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/slide1.jpg" class="d-block w-100" height="600">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/slide2.jpg" class="d-block w-100" height="674" width="1520">
                    </div>
                    @*<div class="carousel-item">
                            <img src="~/img/slide3.jpg" class="d-block w-100" max-height="524px">
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <hr class="separacion" />
    <div class="wow animate__animated animate__pulse animate__infinite	infinite">
        <a href="#" class="banner-oferta">
            <img src="~/img/bannerOfert.jpg" />
        </a>
    </div>
    <hr class="separacion" />
    <div class="row" style="padding-top: 10%;">
        <div class="col">
            <div class="banner-marcas">
                <h3>
                    Las mejores marcas
                </h3>
                <p style="color:#ff6400;">Al mejor precio</p>
            </div>
        </div>
        <div class="col">
            <div id="carrusel">
                <a href="#" class="left-arrow btn-left-right"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="right-arrow btn-left-right"><i class="fas fa-chevron-right"></i></a>
                <div class="carrusel">
                    <div class="product" id="product_0">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Police"><img src="~/img/marcas/police.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_1">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Dior"><img src="~/img/marcas/dior.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_2">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Fila"><img src="~/img/marcas/fila.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_3">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Lozza"><img src="~/img/marcas/lozza.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_4">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Ray Ban"><img src="~/img/marcas/rayban.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_5">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Tous"><img src="~/img/marcas/tous.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_6">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Emporio Armani"><img src="~/img/marcas/armani.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_7">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Guess"><img src="~/img/marcas/guess.jpg" width="190" height="auto" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top:2%;margin-bottom:2%" />

    <div class="row">
        <div class="col">

        </div>
    </div>


    <hr style="margin-top:2%;margin-bottom:2%" />
    <div class="row">
        <div class="col">
            <div class="cajonElegir">

                <div class="wow animate__animated animate__fadeInLeft" style="float:left;">
                    <div class="col cajonElegirImg">
                        <a href="#"><img src="~/img/hombre.jpg" width="575" height="375" /></a>
                    </div>
                    <div class="col-12">
                        <h2>MONTURAS para GRADUADAS</h2>
                        <p>Escoge entre cientos de monturas y luce tu mejor mirada.</p>
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-info">Hombre</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-info">Mujer</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-info">Niños</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wow animate__animated animate__fadeInRight">
                    <div class="col cajonElegirImg">
                        <a href="#"><img src="~/img/miniMujer2.jpg" width="575" height="375" /></a>
                    </div>
                    <div class="col-12">
                        <h2>GAFAS de SOL</h2>
                        <p>Escoge entre cientos de gafas de sol y luce tu mejor mirada.</p>
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-info">Hombre</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-info">Mujer</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-info">Niños</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr style="width:90%;margin-left: 5%;" />
    <!--------------------------------pie de pagina----------------------->

    <footer>
        <div class="caja-footer wow animate__animated animate__fadeInDown" id="footer">
            <h1>ES HORA DE VENDER LO QUE NO NECESITAS</h1>
            <div class="d-flex justify-content-center" style="padding:10px 0 10px 0;">
                <div class="">
                    <img src="~/img/logoRecortado2.png" width="300" />
                </div>
                <div class="">
                    <div style="margin-left:30px;">
                        <a class="icono-social" href=""><i class="fas fa-phone"></i></a>901 23 41 51
                        <a class="icono-social" href="mailto:florin19962@hotmail.com"><i class="fa fa-envelope"></i></a> Correo personal
                    </div>
                </div>
            </div>
        </div>
        <p>Esta página a sido creada y diseñado por <a style="color:#062c64" href="https://www.linkedin.com/in/florin-velea-643104109/" target="_blank">Florin Velea</a>. Todos los derechos reservados © 2020</p>
        <p>Alcalá de Henares, Madrid(España)</p>
    </footer>
</div>

<!-------------------------scripts------------------------------------->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    var current = 0;
    var imagenes = new Array();

    $(document).ready(function () {
        var numImages = 6;
        if (numImages <= 3) {
            $('.right-arrow').css('display', 'none');
            $('.left-arrow').css('display', 'none');
        }

        $('.left-arrow').on('click', function () {
            if (current > 0) {
                current = current - 1;
            } else {
                current = numImages - 3;
            }

            $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

            return false;
        });

        $('.left-arrow').on('hover', function () {
            $(this).css('opacity', '0.5');
        }, function () {
            $(this).css('opacity', '1');
        });

        $('.right-arrow').on('hover', function () {
            $(this).css('opacity', '0.5');
        }, function () {
            $(this).css('opacity', '1');
        });

        $('.right-arrow').on('click', function () {
            if (numImages > current + 3) {
                current = current + 1;
            } else {
                current = 0;
            }

            $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

            return false;
        });
    });
</script>
