

@{
    ViewData["Title"] = "Cuenta Activada";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h3><strong>Registro realizado correctamente</strong></h3>
                <p>Muchas gracias por registrarse en <strong>Opticasion.com</strong></p>
                <p>Su cuenta ya esta activa y puede empezar a publicar sus articulos o comprar</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a asp-controller="Home" asp-action="Index" class="btn btn-default">
                Volver a inicio
            </a>
        </div>
    </div>
</div>