/*CSS DISTRIBUCION TIENDA MENU CATEGORIAS Y CUERPO*/
.cajon-tienda{
    width: 100%;
    margin:0;
}
.categorias {
    background-color: #222d32;
    min-height: 850px;
    height: auto;
    color: #b8c7ce;
}
.cuerpoTienda {
    background-color: white;
    height: auto;
}

/*CSS VISTA MINI PRODUCTOS*/

.cajon-miniprod {
    float: left;
    background-color: white;
    margin-top: 5%;
    border: 1px solid #00000040;
    border-radius: 5px;
    height: 400px;
    max-width: 255px !important;
    transition: .5s;
    margin-right: 1%;
}
    .cajon-miniprod:hover {
        box-shadow: 2px 4px 9px 0px black;
        transition: .5s;
    }

.btn-comprarTienda {
    background-color: #ff5e00c4;
    color: white;
    width: 100%;
    border-radius: 4px;
    padding: 5% 25% 5% 25%;
    position: relative;
    top: 50px;
    transition: .5s;
    box-shadow: 1px 2px 5px 1px black;
}
.btn-comprarTienda:hover{
    background-color: #ff6400;
    transition:.5s;
    color:white !important;
    text-decoration: none !important;
}

.marca {
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    font-family: serif;
}

.modelo {
    font-weight: 100;
    font-size: 12px;
}

.precio {
    color: #dc0000;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 3px 9px 20px #000000a6;
}


/*CSS PARTE DETALLES DEL PRODUCTO*/
.btnCarro {
    padding: 5% 15% 5% 15%;
    background-color: #ff6400;
    color: white;
    text-decoration: none;
    box-shadow: 3px 3px 6px 0px black;
    border-radius: 3px;
}
    .btnCarro:hover {
        color: white;
        background-color: #dc0000;
        text-decoration: none;
    }
.card {
    height: 100px;
    width: 90%;
    background-color: floralwhite;
    padding: 2%;
}
.detallemarca {
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 35px;
    margin-top: 5%;
}

.detallemodelo {
    font-size: 15px;
}

.detalleprecio {
    color: #ff6a00;
    font-family: sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    margin-left: 25%;
    margin-top: 5%;
}
/*CSS VISTA PRINCIPAL CARRITO*/
.caja-resumen-pedido {
    float: left;
    height: 455px;
    background-color: #ffeee2;
    color: #616161;
    padding: 30px;
    box-shadow: 4px 7px 9px #000000a8;
    font-size: 15px;
}
.btnTramitarPedido {
    width: 90%;
    padding: 10px 20px 10px 20px;
    background-color: #ff7922;
    border: none;
    color: white;
    transition: .5s;
    box-shadow: 2px 4px 7px 0px #00000099;
}
    .btnTramitarPedido:hover {
        color: white;
        background-color: #ff6400;
        box-shadow: 2px 6px 10px 1px #000000;
        transition: .5s;
    }
.dato-pedido {
    float: right;
    color: #17a2b8;
    font-size: 15px;
    font-weight: 700;
}
.btnSeguirComprando{
    margin-left: 50%;
    margin-bottom:2%;
}
.header-carrito {
    background-color: #ff7922e0;
    height: 50px;
}
    .header-carrito ul li {
        float: left;
        padding: 10px 60px 10px 60px;
    }
/*CSS VISTA MINIPRODUCTO CARRITO*/
.btnQuitarDeCesta {
    color: #17a2b8;
}
.caja-itemCarrito {
    border-bottom: 1px solid #17a2b8;
    transition:.5s;
}
.caja-itemCarrito:hover{
    background-color:antiquewhite;
}

/*CSS VISTA FINALIZAR PEDIDO*/
.btnPagarPedido {
    width: 90%;
    padding: 10px 20px 10px 20px;
    background-color: #ff4747;
    border: none;
    color: white;
    transition: .5s;
    box-shadow: 2px 4px 7px 0px #00000099;
    font-size: 20px;
}

    .btnPagarPedido:hover {
        color: white;
        background-color: #d20a0a;
        box-shadow: 2px 6px 10px 1px #000000;
        transition: .5s;
    }
.cajon-datos-pago{
    margin-top:5%;
    margin-left:15%;
}
.caja-datosPago {
    border: none;
    padding-top: 4%;
    border-top: 1px solid rgba(85,170,85,.2);
    width: 100%;
    padding: 3%;
    padding-bottom: 3%;
}
    .caja-datosPago:hover {
        background-color: #faebd7ba;
    }
.tituloPago {
    font-size: 16px;
    color: #17a2b8;
    padding: 0 1rem;
    letter-spacing: 1px;
    width: auto;
    font-weight: 500;
    margin: 0 0 -0.75rem -1rem;
}
.banner-oferta-tienda img {
    margin-left: 5%;
    width: 90%;
    transition: .8s;
}
/*CSS PARA FILTROS COLORES TIENDA*/
.btn-filtrar {
    position: relative;
    top: 0px;
    transition: 0.2s;
}
.btn-filtrar:hover {
    position: relative;
    top: -4px;
    transition: 0.2s;
}
/*BTN RADIO BUTTOM PERSONALIZADOS*/
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff0 !important;
    border: #a2a09b solid 1px !important;
}
/*--------------------------------*/
.sticky-top-4 {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 1020;
}
.colorFiltro {
    padding-right: 120px;
    float: left;
    text-align: left;
    color: white;
}
.cajaRadio {
    border-radius: 20px;
    margin-bottom: 10px;
    transition: .4s;
}
    .cajaRadio:hover {
        position: relative;
        top: 25px !important;
        transition:.4s;
    }
.precioFiltro {
    font-size: 12px;
    float: left;
}
.radio-Rojo{
    background-color: red;
}
.radio-Azul {
    background-color: darkblue;
}
.radio-Oro {
    background-color: #fba543;
}
.radio-Negro {
    background-color: black;
}
.radio-Naranja {
    background-color: darkorange;
}
.radio-Gris {
    background-color: grey;
}
.radio-Rosa {
    background-color: hotpink;
}
.radio-Marron {
    background-color: saddlebrown;
}
.radio-Verde {
    background-color: green;
}
.radio-Morado {
    background-color: purple;
}
/*.radio-Multicolor {
    background-color:;
}*/

.filtroSuperior {
    background-color: #ffffff;
    height: 50px;
    width: 158vh;
    padding-top: 5px;
    padding-left: 20vh;
    border-bottom: solid 1px #0000003b;
}
.sticky-top-5 {
    position: -webkit-sticky;
    position: sticky;
    top: 69px;
    z-index: 500;
    margin-left: -15px;
}
